data/boiler/
data/mimic3/
data/epilepsy/
data/FreezerRegularTrain/
data/mimic3/
data/PAM/
data/Wafer/
generator/
*.csv
plot/
results_gate/
model/
lightning_logs/
model_zero/
model_prev/
motif/
others/
results/