data/boiler/
data/mimic3/
data/epilepsy/
data/FreezerRegularTrain/
data/mimic3/
data/PAM/
data/Wafer/
generator/mimic3/
*.csv
plot/
results_gate/
results_our/
results_pred/
results_mimic/
results_pred_avg/
model/
lightning_logs/
model_zero/
model_prev/
motif/
others/
results/